.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.padding {
  padding: 10px;
}

.SectionTitle {
  font-weight: bold;
  position: absolute;
  top: 40px;
  font-size: 30px;
}

.BasicButton {
  background-color: black;
  border: 2px solid black;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
  padding: 8px 25px 8px 25px;
  text-transform: uppercase;
}

.BasicButton a {
  text-transform: uppercase;
}

.BasicButton:hover {
  color: #0082ba;
}

.Blue {
  color: #0082ba;
}

.White {
  color: white;
}