.Footer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 15px;
    height: 45px;
    justify-content: center;
}

.socialIcons {
    position: absolute;
    left: 10%;
}

.socialIcons img {
    height: 40px;
    margin: 0 7px 0 7px;
}

.socialIcons .iconLink {
    display: inline-block;
    position: relative;
}

.socialIcons .hoverIcon {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
}

.socialIcons .iconLink:hover .hoverIcon {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .Footer {
        font-size: 10px;
    }

    .socialIcons {
        position: static;
    }

    .socialIcons img {
        height: 30px;
        margin-right: 5px;
    }
}