.Section1 {
    height: 87.5vh;
}

.Section1Text {
    color: white;
    font-size: 50px;
    position: absolute;
    left: 10%;
    text-align: left;
    text-shadow: black 0px 0 10px;
    top: 30%;
}

.Section1Video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .Section1Text {
        font-size: 40px;
        left: 50%;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
}