.PageContent4 {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 100px);
    padding: 100px 0 30px 0;
    position: relative;
}

.TimelineItem {
    display: flex;
    margin-bottom: 40px;
    width: 60%;
}

.TimelineTextContainer {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
}

.TimelineTitle {
    font-size: 30px;
    padding-bottom: 15px;
}

.TimelineText {
    line-height: 1.4;
}

.TextLeft {
    text-align: left;
}

.TextRight {
    text-align: Right;
}

.TimelineImageContainer {
    align-items: center;
    display: flex;
    flex: 1;
}

.ImageLeft {
    margin-left: 25px;
}

.ImageRight {
    justify-content: right;
    margin-right: 25px;
}

.TimelineImage {
    height: 150px;
}

@media screen and (max-width: 1000px) {
    .TimelineItem {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .TimelineItem {
        width: 95%;
    }

    .TimelineImage {
        height: 125px;
    }
}