.PageContent5 {
    align-content: center;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh - 100px);
    padding-top: 100px;
    position: relative;
}

.PageContent5Child {
    color: white;
    border-radius: 30px;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
    position: relative;
    width: 500px;
}

.PageContent5Child img {
    border-radius: 30px;
    width: 100%;
}