.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.padding {
  padding: 10px;
}

.SectionTitle {
  position: absolute;
  top: 40px;
  font-size: 30px;
}

.Section3Title {
  color: white;
}